<h3>{{ currentResource.resource.data.email }}</h3>
<p><strong>Name: </strong> {{ currentResource.resource.data.fullName }}</p>
<p><strong>A.K.A.: </strong> {{ currentResource.resource.data.aka }}</p>
<p><strong>Phone Number: </strong> {{ currentResource.resource.data.phoneNumber}}</p>
<p><strong>Custom Domain: </strong> {{ currentResource.resource.data.customDomain }}</p>
<p><strong>Twitter: </strong> {{ currentResource.resource.data.twitter }}</p>
<p><strong>Facebook: </strong> {{ currentResource.resource.data.facebook }}</p>
<p><strong>Instagram: </strong> {{ currentResource.resource.data.instagram }}</p>
<p><strong>Youtube: </strong> {{ currentResource.resource.data.youtube }}</p>
<p><strong>Assets: </strong> {{ currentResource.resource.data.imagesandLogo }}</p>

<p>{{ currentResource.resource.data.description }}</p>
