<!-- $ git subtree push --prefix dist origin gh-pages -->
<p><strong>Status: </strong> {{ currentResource.resource.data.projectStatus }}</p>
<p><strong>Paypal ID: </strong> {{ currentResource.resource.data.paypal }}</p>
<p><strong>Landing Page Category: </strong> {{ currentResource.resource.data.category }}</p>
<p><strong>Status: </strong> {{ currentResource.resource.data.projectStatus }}</p>
<p><strong>Name: </strong> {{ currentResource.resource.data.fullName }}</p>
<p><strong>Custom Domain: </strong> {{ currentResource.resource.data.customDomain }}</p>
<p><strong>A.K.A.: </strong> {{ currentResource.resource.data.aka }}</p>
<p><strong>Phone Number: </strong> {{ currentResource.resource.data.phoneNumber}}</p>
<p><strong>Twitter: </strong> {{ currentResource.resource.data.twitter }}</p>
<p><strong>Facebook: </strong> {{ currentResource.resource.data.facebook }}</p>
<p><strong>Instagram: </strong> {{ currentResource.resource.data.instagram }}</p>
<p><strong>Youtube: </strong> {{ currentResource.resource.data.youtube }}</p>
<p><strong>MultiGP: </strong> {{ currentResource.resource.data.multiGp }}</p>
<p><strong>Notes: </strong> {{ currentResource.resource.data.description }}</p>
<p><strong>Media: </strong> Open the edit tab to see your media Folder.</p>
